
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      
      
<section id="decision" class="govuk-!-margin-bottom-6">
  <h1 class="govuk-heading-l">Confirm payment details</h1>
  
    <table class="govuk-table">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
       Maternity Allowance start date
      </th>
      <td class="govuk-table__cell">
        8 February 2025
      </td>
      <td class="govuk-table__cell">  <a class="govuk-link" href="map-start">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
       Payment frequency
      </th>
      <td class="govuk-table__cell">
        4 weekly
      </td>
      <td class="govuk-table__cell">  <a class="govuk-link" href="mat-frequency">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>









</tbody>
</table>


<h1 class="govuk-heading-m">Bank details</h1>

<table class="govuk-table">
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">
     Name on account
    </th>
    <td class="govuk-table__cell">
      Jane Doe
    </td>
    <td class="govuk-table__cell">  <a class="govuk-link" href="bank-details">
      Change<span class="govuk-visually-hidden"> name</span>
    </a></td>
  </tr>

  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">
     Sort code
    </th>
    <td class="govuk-table__cell">
      11-11-11
    </td>
    <td class="govuk-table__cell">  <a class="govuk-link" href="bank-details">
      Change<span class="govuk-visually-hidden"> name</span>
    </a></td>
  </tr>

  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">
     Account number
    </th>
    <td class="govuk-table__cell">
     12345678
    </td>
    <td class="govuk-table__cell">  <a class="govuk-link" href="bank-details">
      Change<span class="govuk-visually-hidden"> name</span>
    </a></td>
  </tr>

  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">
     Building Society roll number
    </th>
    <td class="govuk-table__cell">
     None
    </td>
    <td class="govuk-table__cell">  <a class="govuk-link" href="bank-details">
      Change<span class="govuk-visually-hidden"> name</span>
    </a></td>
  </tr>
  </table>
  
<form class="form" method="post" novalidate>

  {% from "govuk/components/button/macro.njk" import govukButton %}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
  

  </div>

  </form>

  </section>


  </div>
</div>

{% endblock %}
