{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

    <!--<h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>-->

    <!--{% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}-->
 
  </div>
  <h1 class="govuk-heading-xl">If you get Universal Credit</h1>


  {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

  {% set html %}
    <p class="govuk-notification-banner__heading">
      Your Universal Credit award will be adjusted to take your Maternity Allowance into account.
 
    </p>
  {% endset %}
  
  {{ govukNotificationBanner({
    html: html
  }) }}


  <p class="govuk-body">You may get an <a href="https://www.gov.uk/universal-credit/what-youll-get" target="_blank">extra amount of Universal Credit for your children</a> (whether you get Maternity Allowance of not).</p>
  <p class="govuk-body"><a href="https://www.gov.uk/universal-credit/changes-of-circumstances" target="_blank">Report a change on your Universal Credit account</a> if you start getting Maternity Allowance.</p>

<p class="govuk-body">If you are claiming Universal Credit, you can also get:
<ul class="govuk-list govuk-list--bullet">
  <li><a href="https://www.gov.uk/sure-start-maternity-grant" target="_blank">Sure Start Maternity Grant</a>. You may get this if you are claiming Maternity Allowance under the age of 18</li>
   <li><a href="https://www.gov.uk/healthy-start" target="_blank">Healthy Start vouchers</a> to buy healthy foods like milk or fruit</li>
  <li><a href="https://www.mygov.scot/best-start-grant-best-start-foods" target="_blank">Best Start Grant - Pregnancy and Baby Payment</a>. This helps with the costs of having a baby if you live in Scotland</li>
  <li><a href="https://www.mygov.scot/best-start-grant-best-start-foods" target="_blank">Best Start Foods</a>. This is a payment to help you buy healthy foods during pregnancy, if your child is under 3 and you live in Scotland</li>
</ul>
<p>If you only claim Maternity Allowance, you are not eligible for these other payments.</p>

<h2 class="govuk-heading-m">Payments</h2>

<p class="govuk-body">Universal Credit and Maternity Allowance are paid at different times. Universal Credit is paid monthly. Maternity Allowance is paid every 2 or 4 weeks.</p>

<p class="govuk-body">You can use the <a href="https://www.gov.uk/maternity-paternity-calculator" target="_blank">benefit calculator</a> to help what benefits you could get and how much you could receive.</p>

<!--<h2 class="govuk-heading-m">Other benefits</h2>

<p class="govuk-body">The other benefits that can be affected are:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Bereavement benefits</li>
  <li>Carer's Allowance</li>
  <li>Carer support payment</li>
  <li>Employment Support Allowance (ESA)</li>
  <li>Income Support</li>
  <li>Jobseeker's Allowance - this will stop if you get Maternity Allowance</li>

</ul>-->




<h2 class="govuk-heading-m">Pregnancy-related sick leave</h2>

<!--<p class="govuk-body">If you are on sick leave due to a pregnancy-related illness on or after the 4th week before the baby is due, your Maternity Allowance must start at any time in this 4 week period. </p>-->
<p class="govuk-body">If you are on sick leave due to a pregnancy-related illness on or after the 4th week before the week the baby is due, your Maternity Allowance must start at any time in this 4 week period.</p>

<p class="govuk-body">If you are receiving Statutory Sick Pay (SSP), New Style Employment and Support Allowance or Incapcity Benefit in this 4 week peiod, it will stop.</p>

<h2 class="govuk-heading-m">National Insurance Credits</h2>

<p class="govuk-body">What benefits you get will affect which <a href="https://www.gov.uk/national-insurance-credits" target="_blank">National Insurance credits</a> you're eligible for. If you get Universal Credit:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>With Maternity Allowance payments you get Class 1 National Insurance credits, which help you qualify for some other benefits and State Pension</li>
  <li>Without Maternity Allowance payments, you get Class 3 National Insurance credits, which count towards your State Pension only</li>

</ul>

<form method="POST">

  <h2 class="govuk-heading-m">Tick to confirm if you understand the above information</h2>
  {{ govukCheckboxes({
idPrefix: "confirm",
name: "confirm",
items: [
{
value: "confirm",
text: "Yes I confirm"
}
]
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
  {{ govukButton({
    text: "Continue"
  }) }}

  {{ govukButton({
    text: "I do not want to claim Maternity Allowance",
    classes: "govuk-button--secondary",
    href: "leaveMA"
  }) }}
</div>

</form>
</div>


{% endblock %}
