
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
<form class="form" method="post" novalidate>

  {% from "govuk/components/input/macro.njk" import govukInput %}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
    Upload your MAT B1 form
  </h1>

  <div class="govuk-inset-text">
    Ensure Part A of your form has been completed.
  </div>

  <!--<img src="/public/images/MATB1_Img.png" style="max-width: 70%;" alt="An image of a Maternity Certificate (MAT B1) that shows Part A and Part B. Part A is highlighted as the part that shows proof of pregnancy.">-->
  
 <!-- <div id="passport-issued-hint" class="govuk-hint">
    Proof of pregnancy will usually be a Maternity Certificate (MAT B1). You can also upload proof from a foreign medical official.
  </div>-->


  {{ govukFileUpload({
    id: "file-upload-1",
    name: "fileUpload1",
    label: {
      text: "Upload a file or photo. Accepted file types are jpg, pdf and png."
    }
  }) }}

  




  <form class="form" method="post" novalidate>

   
  
  
  
      {% from "govuk/components/button/macro.njk" import govukButton %}
  
      {{ govukButton({
        text: "Continue"
      }) }}
  </form>

</div></div>
{% endblock %}
