
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      
      
<section id="decision" class="govuk-!-margin-bottom-6">
  <h1 class="govuk-heading-l">Earnings history</h1>
  <div id="passport-issued-hint" class="govuk-hint">
    This is the earnings information we have from HM Revenue & Customs for your Test Period. You can change it if it is incorrect or add payslips 
    showing higher earnings.
  </div>
  
    <table class="govuk-table">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        Date
      </th>
      <th class="govuk-table__header">
         Employer
        </th>
      <th class="govuk-table__header">Payslip amount </th>
    </tr>

    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">
       31 May 2024
      </td>
      <td class="govuk-table__cell">
        Argos
      </td>
      <td class="govuk-table__cell">£500.00</td>
    </tr>


    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">
       30 June 2024
      </td>
      <td class="govuk-table__cell">
        Argos
      </td>
      <td class="govuk-table__cell">£650.00</td>
    </tr>

    <tr class="govuk-table__row">
    <td scope="row" class="govuk-table__cell">
     31 July 2024
    </td>
    <td class="govuk-table__cell">
      Argos
    </td>
    <td class="govuk-table__cell">£340.00</td>
  </tr>

  <tr class="govuk-table__row">
    <td scope="row" class="govuk-table__cell">
     31 August 2024
    </td>
    <td class="govuk-table__cell">
      Argos
    </td>
    <td class="govuk-table__cell">£120.00</td>
  </tr>



</tbody>
</table>

<h2 class="govuk-heading-m">User added payslips</h2>

<table class="govuk-table">
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">
      Date
    </th>
    <th class="govuk-table__header">
       Employer
      </th>
    <th class="govuk-table__header">Payslip amount </th>
    <th class="govuk-table__header"></th>
  </tr>

  <tr class="govuk-table__row">
    <td scope="row" class="govuk-table__cell">
     31 September 2024
    </td>
    <td class="govuk-table__cell">
      Asda
    </td>
    <td class="govuk-table__cell">£500.00</td>
    <td class="govuk-table__cell"><a href="../start-a-claim/payslip-summary.html">Change</a> | <a href="../start-a-claim/payslip-delete.html">Delete</a></td>
  </tr>


</tbody>
</table>

<a href="../start-a-claim/payslip-date.html">
<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Add payslip
</button>
</a>

  
<form class="form" method="post" novalidate>




    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Save and continue"
    }) }}

    </form>

  </div>
</div>

{% endblock %}
