
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
<form class="form" action="/i3-stop-work" method="post" novalidate>

  {% from "govuk/components/input/macro.njk" import govukInput %}

  {{ govukRadios({
    classes: "govuk-radios--inline",
    name: "i3stopWork",
    value: data['i3stopWorkAnswer'],
    fieldset: {
      legend: {
        text: "Have you stopped work to have your baby or for another reason?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: "Select 'No' if you are on annual leave. Select 'Yes' if you are on leave for another reason or if you are no longer employed"
    },
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No"
      }
    ]
  }) }}

  


{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Save and continue"
}) }}
</form>
</div></div>
{% endblock %}
