
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
<form class="form" method="post" novalidate>

  {% from "govuk/components/input/macro.njk" import govukInput %}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
    Upload your proof of pregnancy
  </h1>

  <div class="govuk-inset-text">
   Please upload part A and part B of your MAT B1 form.
  </div>
  
 <!-- <div id="passport-issued-hint" class="govuk-hint">
    Proof of pregnancy will usually be a Maternity Certificate (MAT B1). You can also upload proof from a foreign medical official.
  </div>-->


  {{ govukFileUpload({
    id: "file-upload-1",
    name: "fileUpload1",
    label: {
      text: "Upload a file. Accepted file types are jpg, pdf and png."
    }
  }) }}

  




  <form class="form" method="post" novalidate>

    {% from "govuk/components/radios/macro.njk" import govukRadios %}
    {{ govukRadios({
      classes: "govuk-radios--inline",
      name: "confirmEmployment",
      value: data['confirmEmploymentAnswer'],
      fieldset: {
        legend: {
          text: "Has part A and part B of the MAT B1 form been filled in?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}
  
  
  
      {% from "govuk/components/button/macro.njk" import govukButton %}
  
      {{ govukButton({
        text: "Save and continue"
      }) }}
  
      </form>
</form>
</div></div>
{% endblock %}
