
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form class="form" action="/employment-type-answer" method="post">

  {% from "govuk/components/input/macro.njk" import govukInput %}

  {{ govukRadios({
    name: "employmentType",
    value: data['employmentTypeAnswer'],
    fieldset: {
      legend: {
        text: "What type of employment have you had?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      {
        value: "employed",
        text: "Employed"
      },
      {
        value: "selfEmployed",
        text: "Self employed"
      },
      {
        value: "agency",
        text: "Agency work"
      },
      {
        value: "partner",
        text: "Unpaid work for partner's business"
      }
    ]
  }) }}

  


{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Save and continue"
}) }}
</form>
</div></div>
{% endblock %}
