
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
<form class="form" method="post" novalidate>

  {% from "govuk/components/input/macro.njk" import govukInput %}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
    Upload your Maternity Certificate (MAT B1) form
  </h1>

  {{ govukFileUpload({
    id: "file-upload-1",
    name: "fileUpload1",
    label: {
      text: "Upload a file"
    },
    hint: {
      text: "Proof of pregnancy will usually be a Maternity Certificate (MAT B1). You can also upload proof from a foreign medical official"
    }
  }) }}

  


{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Save and continue"
}) }}
</form>
</div></div>
{% endblock %}
