
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %} 

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      
      
<section id="decision" class="govuk-!-margin-bottom-6">
  <h1 class="govuk-heading-l">Confirm payment details</h1>
  



  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header govuk-!-width-one-half">Maternity Allowance start date</th>
        <td class="govuk-table__cell govuk-!-width-one-quarter">30 May 2025</td>
        <td class="govuk-table__cell govuk-!-width-one-quarter"><a style="float: right;" href="map-start">Change</a></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header govuk-!-width-one-half">Payment frequency</th>
        <td class="govuk-table__cell govuk-!-width-one-quarter">4 weekly</td>
        <td class="govuk-table__cell govuk-!-width-one-quarter"> <a style="float: right;" class="govuk-link" href="mat-frequency">Change</td>
      </tr>
    </tbody>
  </table>


<h1 class="govuk-heading-m">Bank details</h1>

<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-half">Bank details</th>
      <td class="govuk-table__cell govuk-!-width-one-quarter"></td>
      <td class="govuk-table__cell govuk-!-width-one-quarter"><a style="float: right;" href="map-start">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-half">Name on account</th>
      <td class="govuk-table__cell govuk-!-width-one-quarter">Jane Doe</td>
      <td class="govuk-table__cell govuk-!-width-one-quarter"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-half">Sort code</th>
      <td class="govuk-table__cell govuk-!-width-one-quarter">11-11-11</td>
      <td class="govuk-table__cell govuk-!-width-one-quarter"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-half">Account number</th>
      <td class="govuk-table__cell govuk-!-width-one-quarter">12345678</td>
      <td class="govuk-table__cell govuk-!-width-one-quarter"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-half">Building society roll number</th>
      <td class="govuk-table__cell govuk-!-width-one-quarter">None</td>
      <td class="govuk-table__cell govuk-!-width-one-quarter"></td>
    </tr>
  </tbody>
</table>
  
<form class="form" method="post" novalidate>

  {% from "govuk/components/button/macro.njk" import govukButton %}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
  

  </div>

  </form>

  </section>


  </div>
</div>

{% endblock %}
