
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      
      
<section id="decision" class="govuk-!-margin-bottom-6">
  <h1 class="govuk-heading-l">Earnings history</h1>
  <div id="passport-issued-hint" class="govuk-body">
    These payslips include the 13 weeks in  which you earned the most money during your Test Period (2 July 2023 and 5 October 2024). This information comes from HM Revenue & Customs.
    <br><br>
    You can add other payslips to show higher earnings and possibly increase the Maternity Allowance you can get.
  </div>
  
    <table class="govuk-table">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        Date
      </th>
      <th class="govuk-table__header">
         Employer
        </th>
      <th class="govuk-table__header">Payslip amount </th>
    </tr>

    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">
       30 June 2023
      </td>
      <td class="govuk-table__cell">
        Argos
      </td>
      <td class="govuk-table__cell">£500.00</td>
    </tr>


    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">
       7 July 2023
      </td>
      <td class="govuk-table__cell">
        Argos
      </td>
      <td class="govuk-table__cell">£650.00</td>
    </tr>

    <tr class="govuk-table__row">
    <td scope="row" class="govuk-table__cell">
     14 July 2023
    </td>
    <td class="govuk-table__cell">
      Argos
    </td>
    <td class="govuk-table__cell">£340.00</td>
  </tr>

  <tr class="govuk-table__row">
    <td scope="row" class="govuk-table__cell">
     21 July 2023
    </td>
    <td class="govuk-table__cell">
      Argos
    </td>
    <td class="govuk-table__cell">£420.00</td>
  </tr>

  <tr class="govuk-table__row">
    <td scope="row" class="govuk-table__cell">
     28 July 2023
    </td>
    <td class="govuk-table__cell">
      Argos
    </td>
    <td class="govuk-table__cell">£500.00</td>
  </tr>


  <tr class="govuk-table__row">
    <td scope="row" class="govuk-table__cell">
     4 August 2023
    </td>
    <td class="govuk-table__cell">
      Argos
    </td>
    <td class="govuk-table__cell">£650.00</td>
  </tr>

  <tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell">
   11 August 2023
  </td>
  <td class="govuk-table__cell">
    Argos
  </td>
  <td class="govuk-table__cell">£340.00</td>
</tr>

<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell">
   18 August 2023
  </td>
  <td class="govuk-table__cell">
    Argos
  </td>
  <td class="govuk-table__cell">£420.00</td>
</tr>

<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell">
   25 August 2023
  </td>
  <td class="govuk-table__cell">
    Argos
  </td>
  <td class="govuk-table__cell">£500.00</td>
</tr>


<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell">
   1 September 2023
  </td>
  <td class="govuk-table__cell">
    Argos
  </td>
  <td class="govuk-table__cell">£650.00</td>
</tr>

<tr class="govuk-table__row">
<td scope="row" class="govuk-table__cell">
 8 September 2023
</td>
<td class="govuk-table__cell">
  Argos
</td>
<td class="govuk-table__cell">£340.00</td>
</tr>

<tr class="govuk-table__row">
<td scope="row" class="govuk-table__cell">
 15 September 2024
</td>
<td class="govuk-table__cell">
  Argos
</td>
<td class="govuk-table__cell">£420.00</td>
</tr>

<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell">
   22 September 2023
  </td>
  <td class="govuk-table__cell">
    Argos
  </td>
  <td class="govuk-table__cell">£420.00</td>
  </tr>




</tbody>
</table>

{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        text: "Your other earnings"
      },
      content: {
        html: '   <table class="govuk-table">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              Date
            </th>
            <th class="govuk-table__header">
               Employer
              </th>
            <th class="govuk-table__header">Payslip amount </th>
          </tr>
      
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
             30 June 2023
            </td>
            <td class="govuk-table__cell">
              Argos
            </td>
            <td class="govuk-table__cell">£100.00</td>
          </tr>
      
      
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
             7 July 2024
            </td>
            <td class="govuk-table__cell">
              Argos
            </td>
            <td class="govuk-table__cell">£50.00</td>
          </tr>
      
          <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">
           31 July 2024
          </td>
          <td class="govuk-table__cell">
            Argos
          </td>
          <td class="govuk-table__cell">£40.00</td>
        </tr>
      
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">
           31 August 2024
          </td>
          <td class="govuk-table__cell">
            Argos
          </td>
          <td class="govuk-table__cell">£120.00</td>
        </tr>
      
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">
           31 May 2024
          </td>
          <td class="govuk-table__cell">
            Argos
          </td>
          <td class="govuk-table__cell">£130.00</td>
        </tr>
      
      
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">
           30 June 2024
          </td>
          <td class="govuk-table__cell">
            Argos
          </td>
          <td class="govuk-table__cell">£150.00</td>
        </tr>
      
        <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">
         31 July 2024
        </td>
        <td class="govuk-table__cell">
          Argos
        </td>
        <td class="govuk-table__cell">140.00</td>
      </tr>
      
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">
         31 August 2024
        </td>
        <td class="govuk-table__cell">
          Argos
        </td>
        <td class="govuk-table__cell">£120.00</td>
      </tr>
      
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">
         31 May 2024
        </td>
        <td class="govuk-table__cell">
          Argos
        </td>
        <td class="govuk-table__cell">£90.00</td>
      </tr>
      
      
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">
         30 June 2024
        </td>
        <td class="govuk-table__cell">
          Argos
        </td>
        <td class="govuk-table__cell">£90.00</td>
      </tr>
      
      <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">
       31 July 2024
      </td>
      <td class="govuk-table__cell">
        Argos
      </td>
      <td class="govuk-table__cell">£40.00</td>
      </tr>
      
      <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">
       31 August 2024
      </td>
      <td class="govuk-table__cell">
        Argos
      </td>
      <td class="govuk-table__cell">£120.00</td>
      </tr>
      
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">
         31 August 2024
        </td>
        <td class="govuk-table__cell">
          Argos
        </td>
        <td class="govuk-table__cell">£120.00</td>
        </tr>
      
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">
           30 June 2024
          </td>
          <td class="govuk-table__cell">
            Argos
          </td>
          <td class="govuk-table__cell">£150.00</td>
        </tr>
        
        <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">
         31 July 2024
        </td>
        <td class="govuk-table__cell">
          Argos
        </td>
        <td class="govuk-table__cell">£180.00</td>
        </tr>
        
        <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">
         31 August 2024
        </td>
        <td class="govuk-table__cell">
          Argos
        </td>
        <td class="govuk-table__cell">£120.00</td>
        </tr>
        
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">
           31 August 2024
          </td>
          <td class="govuk-table__cell">
            Argos
          </td>
          <td class="govuk-table__cell">£120.00</td>
          </tr>

          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
             30 June 2024
            </td>
            <td class="govuk-table__cell">
              Argos
            </td>
            <td class="govuk-table__cell">£50.00</td>
          </tr>
          
          <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">
           31 July 2024
          </td>
          <td class="govuk-table__cell">
            Argos
          </td>
          <td class="govuk-table__cell">£40.00</td>
          </tr>
          
          <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">
           31 August 2024
          </td>
          <td class="govuk-table__cell">
            Argos
          </td>
          <td class="govuk-table__cell">£120.00</td>
          </tr>
          
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
             31 August 2024
            </td>
            <td class="govuk-table__cell">
              Argos
            </td>
            <td class="govuk-table__cell">£120.00</td>
            </tr>

            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">
               30 June 2024
              </td>
              <td class="govuk-table__cell">
                Argos
              </td>
              <td class="govuk-table__cell">150.00</td>
            </tr>
            
            <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
             31 July 2024
            </td>
            <td class="govuk-table__cell">
              Argos
            </td>
            <td class="govuk-table__cell">£40.00</td>
            </tr>
            
            <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
             31 August 2024
            </td>
            <td class="govuk-table__cell">
              Argos
            </td>
            <td class="govuk-table__cell">£120.00</td>
            </tr>
            
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">
               31 August 2024
              </td>
              <td class="govuk-table__cell">
                Argos
              </td>
              <td class="govuk-table__cell">£120.00</td>
              </tr>

              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">
                 30 June 2024
                </td>
                <td class="govuk-table__cell">
                  Argos
                </td>
                <td class="govuk-table__cell">£50.00</td>
              </tr>
              
              <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">
               31 July 2024
              </td>
              <td class="govuk-table__cell">
                Argos
              </td>
              <td class="govuk-table__cell">£40.00</td>
              </tr>
              
              <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">
               31 August 2024
              </td>
              <td class="govuk-table__cell">
                Argos
              </td>
              <td class="govuk-table__cell">£120.00</td>
              </tr>
              
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">
                 31 August 2024
                </td>
                <td class="govuk-table__cell">
                  Argos
                </td>
                <td class="govuk-table__cell">£120.00</td>
                </tr>

                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell">
                   30 June 2024
                  </td>
                  <td class="govuk-table__cell">
                    Argos
                  </td>
                  <td class="govuk-table__cell">£50.00</td>
                </tr>
                
                <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">
                 31 July 2024
                </td>
                <td class="govuk-table__cell">
                  Argos
                </td>
                <td class="govuk-table__cell">£40.00</td>
                </tr>
                
                <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">
                 31 August 2024
                </td>
                <td class="govuk-table__cell">
                  Argos
                </td>
                <td class="govuk-table__cell">£120.00</td>
                </tr>
                
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell">
                   31 August 2024
                  </td>
                  <td class="govuk-table__cell">
                    Argos
                  </td>
                  <td class="govuk-table__cell">£120.00</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__cell">
                     30 June 2024
                    </td>
                    <td class="govuk-table__cell">
                      Argos
                    </td>
                    <td class="govuk-table__cell">£50.00</td>
                  </tr>
                  
                  <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell">
                   31 July 2024
                  </td>
                  <td class="govuk-table__cell">
                    Argos
                  </td>
                  <td class="govuk-table__cell">£40.00</td>
                  </tr>
                  
                  <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell">
                   31 August 2024
                  </td>
                  <td class="govuk-table__cell">
                    Argos
                  </td>
                  <td class="govuk-table__cell">£120.00</td>
                  </tr>
                  
                  <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__cell">
                     31 August 2024
                    </td>
                    <td class="govuk-table__cell">
                      Argos
                    </td>
                    <td class="govuk-table__cell">£20.00</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td scope="row" class="govuk-table__cell">
                       30 June 2024
                      </td>
                      <td class="govuk-table__cell">
                        Argos
                      </td>
                      <td class="govuk-table__cell">£120.00</td>
                    </tr>
                    
                    <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__cell">
                     31 July 2024
                    </td>
                    <td class="govuk-table__cell">
                      Argos
                    </td>
                    <td class="govuk-table__cell">£40.00</td>
                    </tr>
                    
                    <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__cell">
                     31 August 2024
                    </td>
                    <td class="govuk-table__cell">
                      Argos
                    </td>
                    <td class="govuk-table__cell">£120.00</td>
                    </tr>
                    
                    <tr class="govuk-table__row">
                      <td scope="row" class="govuk-table__cell">
                       31 August 2024
                      </td>
                      <td class="govuk-table__cell">
                        Argos
                      </td>
                      <td class="govuk-table__cell">£120.00</td>
                      </tr>

                      <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell">
                         30 June 2024
                        </td>
                        <td class="govuk-table__cell">
                          Argos
                        </td>
                        <td class="govuk-table__cell">£50.00</td>
                      </tr>
                      
                      <tr class="govuk-table__row">
                      <td scope="row" class="govuk-table__cell">
                       31 July 2024
                      </td>
                      <td class="govuk-table__cell">
                        Argos
                      </td>
                      <td class="govuk-table__cell">£40.00</td>
                      </tr>
                      
                      <tr class="govuk-table__row">
                      <td scope="row" class="govuk-table__cell">
                       31 August 2024
                      </td>
                      <td class="govuk-table__cell">
                        Argos
                      </td>
                      <td class="govuk-table__cell">£120.00</td>
                      </tr>
                      
                      <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell">
                         31 August 2024
                        </td>
                        <td class="govuk-table__cell">
                          Argos
                        </td>
                        <td class="govuk-table__cell">£120.00</td>
                        </tr>

                        <tr class="govuk-table__row">
                          <td scope="row" class="govuk-table__cell">
                           30 June 2024
                          </td>
                          <td class="govuk-table__cell">
                            Argos
                          </td>
                          <td class="govuk-table__cell">£50.00</td>
                        </tr>
                        
                        <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell">
                         31 July 2024
                        </td>
                        <td class="govuk-table__cell">
                          Argos
                        </td>
                        <td class="govuk-table__cell">£40.00</td>
                        </tr>
                        
                        <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell">
                         31 August 2024
                        </td>
                        <td class="govuk-table__cell">
                          Argos
                        </td>
                        <td class="govuk-table__cell">£120.00</td>
                        </tr>
                        
                        <tr class="govuk-table__row">
                          <td scope="row" class="govuk-table__cell">
                           31 August 2024
                          </td>
                          <td class="govuk-table__cell">
                            Argos
                          </td>
                          <td class="govuk-table__cell">£120.00</td>
                          </tr>

                          <tr class="govuk-table__row">
                            <td scope="row" class="govuk-table__cell">
                             30 June 2024
                            </td>
                            <td class="govuk-table__cell">
                              Argos
                            </td>
                            <td class="govuk-table__cell">£50.00</td>
                          </tr>
                          
                          <tr class="govuk-table__row">
                          <td scope="row" class="govuk-table__cell">
                           31 July 2024
                          </td>
                          <td class="govuk-table__cell">
                            Argos
                          </td>
                          <td class="govuk-table__cell">£40.00</td>
                          </tr>
                          
                          <tr class="govuk-table__row">
                          <td scope="row" class="govuk-table__cell">
                           31 August 2024
                          </td>
                          <td class="govuk-table__cell">
                            Argos
                          </td>
                          <td class="govuk-table__cell">£120.00</td>
                          </tr>
                          
                          <tr class="govuk-table__row">
                            <td scope="row" class="govuk-table__cell">
                             31 August 2024
                            </td>
                            <td class="govuk-table__cell">
                              Argos
                            </td>
                            <td class="govuk-table__cell">£120.00</td>
                            </tr>


                            

                            
    



                              
                  
                              
                 
                              
                       

                       
                                
                        
                                
                                
                                
                            
      
      
      </tbody>
      </table>'
      }
    }
  ]
}) }}

<a href="../start-a-claim/payslip-select-employer.html">
<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Add payslip
</button>
</a>

  
<form class="form" method="post" novalidate>




    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Save and continue"
    }) }}

    </form>

  </div>
</div>

{% endblock %}
