
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
<form class="form" method="post" novalidate>

  {% from "govuk/components/input/macro.njk" import govukInput %}


  {{ govukDateInput({
    id: "passport-issued",
    namePrefix: "passport-issued",
    fieldset: {
      legend: {
        text:"When was your last day of work?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: "Use the last day of any leave you took immediately before maternity leave, if relevant"
    }
  }) }}

  


{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}
</form>
</div></div>
{% endblock %}
