{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

    <!--<h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>-->

    <!--{% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}-->


<h1 class="govuk-heading-l">Claiming another benefit</h1>
<p class="govuk-body">If you no longer want to apply for Maternity Allowance, you can apply for another benefit such as Universal Credit. <a href="https://www.gov.uk/universal-credit">Find out more on Universal Credit on GOV.UK</a>.</p>

<!--<form method="POST">

{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
  {{ govukButton({
    text: "Continue"
  }) }}


</div>

</form>-->

<!--<form method="POST">
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}

</form>-->
</div>

</div>
{% endblock %}
