
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %} 

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form class="form" action="/i8-sick-reason" method="post">

  {% from "govuk/components/input/macro.njk" import govukInput %}

  {{ govukRadios({
    name: "i8sickReason",
    value: data['i8sickReasonAnswer'],
    fieldset: {
      legend: {
        text: "Do you get Statutory Sick Pay or Employment and Support Allowance?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      {
        value: "SSP",
        text: "Statutory Sick Pay"
      },
      {
        value: "ESA",
        text: "Employment Support Allowance"
      },
      {
        value: "none",
        text: "None"
      }
    ]
  }) }}

  


{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}
</form>
</div></div>
{% endblock %}
