
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
<form class="form" method="post" novalidate>

  <h1 class="govuk-heading-xl">Task list</h1>

  <div class="govuk-inset-text">
    Your answers so far have been saved.
    <br><br>
    You have not provided any proof of pregnancy. This will need to be provided before Maternity Allowance can be awarded. You can upload this now or wait for us to contact you. You can still submit your application without this evidence.
  </div>

  <p class="govuk-body">Your task list is complete. You can check each section you have completed if you need to change anything.</p>

  <ul class="govuk-task-list">
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="claimant-T1-summary" aria-describedby="company-details-1-status">
          Claimant details
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-2-status">
        <p class="govuk-body" style="margin-bottom: 0px;">Completed</p>
      </div>
    </li>
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="baby-T2-summary" aria-describedby="company-details-2-status">
          Baby details
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-2-status">
        <p class="govuk-body" style="margin-bottom: 0px;">Completed</p>
      </div>
    </li>
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="claimant-T3-summary" aria-describedby="company-details-3-hint company-details-3-status">
         Employment details
        </a>
        <!--<div id="company-details-3-hint" class="govuk-task-list__hint">
          Include 5 years of the company’s relevant financial information
        </div>-->
      </div>
      <div class="govuk-task-list__status" id="company-details-3-status">
        <p class="govuk-body" style="margin-bottom: 0px;">Completed</p>
      </div>
    </li>
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="claimant-T4-summary" aria-describedby="company-details-4-status">
          Earning details
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-4-status">
        <p class="govuk-body" style="margin-bottom: 0px;">Completed</p>
      </div>
    </li>
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="claimant-T5-summary" aria-describedby="company-details-5-status">
          Payments details
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-5-status">
        <p class="govuk-body" style="margin-bottom: 0px;">Completed</p>
      </div>
    </li>
  </ul>

</form>

<h1 class="govuk-label-wrapper">
  <label class="govuk-label govuk-label--m" for="more-detail">
    Evidence you must provide
  </label>
</h1>

<p class="govuk-body">Before any Maternity Allowance can be awarded, you will need to submit the following evidence. You can submit it now otherwise we will contact you.</p>
<ul class="govuk-list">
  <a href="proof-2"><li class="govuk-link">Proof of pregnancy</li></a>
</ul>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="more-detail">
      Optional - Do you need to provide any more details?
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    Do not include personal or financial information, like your National Insurance number or credit card details
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>

</div></div>

<form method="POST">

  <h2 class="govuk-heading-m">Declaration</h2>
  <p class="govuk-body">By agreeing to this declaration, you agree:</p>
  <ul class="govuk-list govuk-list--bullet">
  <li>the information you have given is complete and correct</li>  
  <li>to tell the Department for Work and Pensions (DWP) straight away if your circumstances change, such as your address, bank details, marital status, or anything else</li> 
  <li>if you knowingly give information that is incorrect or incomplete, your benefit may be stopped and you may be liable to prosecution or other actions</li> 
  <li>to pay back any Maternity Allowance if you are paid too much</li> 
  <li>that if you have made a claim in advance of starting your maternity leave or you have your baby and your circumstances change, you will let us know</li>
  </ul>


{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "I agree - submit my application"
}) }}

</form>

{% endblock %}
