

{% extends "layouts/main.html" %}


{% set pageName="Home" %} 

 
{% block beforeContent %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% set html %}
  <p class="govuk-body">We use some essential cookies to make this service work.</p>
  <p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
{% endset %}

{{ govukCookieBanner({
  ariaLabel: "Cookies on Maternity Allowance",
  messages: [
    {
      headingText: "Cookies on Maternity Allowance",
      html: html,
      actions: [
        {
          text: "Accept analytics cookies",
          type: "button"
        },
        {
          text: "Reject analytics cookies",
          type: "button"
        },
        {
          text: "View cookies",
          href: "cookies"
        }
      ]
    }
  ]
}) }}


  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}


  

{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}


  
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!--h1 class="govuk-heading-l">Maternity Allowance start date</h1-->

      <form class="form" action="/i12-employment-check" method="post">

        <h1 class="govuk-heading-xl">Which type of employment did you have during your Test Period?</h1>
        <p class="govuk-body">Your Test Period is the 66 weeks before the week your baby is due, not the actual date of birth. You can calculate your Test Period dates by using the online <a href="">Test Period calculator (opens in a new tab)</a>, or by using the <a href="">Test Period table (opens in a new tab)</a>.</p>
        <p class="govuk-body">Select all that apply.</p>

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}


        {{ govukCheckboxes({
          name: "employmentCheck",
          value: data['employmentCheckAnswer'],
          fieldset: {
            legend: {
              text: " ",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
       
          items: [
          {
            value: "employed",
            text: "Employed (this includes agency, zero-hour contracts and directors of a limited company)"
          },
          {
            value: "self",
            text: "Self employed"
          },
          {
            value: "partner",
            text: "Unpaid work for partner's business (partner means either your husband, wife or civil partner)
            "
          },
            {
              divider: "or"
            },
            {
              value: "none",
              text: "None"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
        
        </form>

    </div>
  </div>

{% endblock %}