{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

 

<h2 class="govuk-heading-xl">You need an SMP1 form to get Maternity Allowance</h2>

<p class="govuk-body">If you have more than 1 employer, you must send us an SMP1 form from each employer.</p> 

<p class="govuk-body">If your employer refuses to give you an SMP1 form, you can contact <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/statutory-payment-dispute-team">HM Revenue & Customs (HMRC) (opens in new tab)</a> for help.</p>

<p class="govuk-body">You can still continue with your application without your SMP1 form. We’ll contact you later and you’ll need to send it to us through post.</p>
 
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}

</div>
</div>
 



{% endblock %}
