
{% extends "layouts/main.html" %}

{% set pageName="Home" %} 

 
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
<form class="form" method="post" novalidate>

  {% from "govuk/components/input/macro.njk" import govukInput %}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
    Upload your baby's Certificate of stillbirth
  </h1>

  <p class="govuk-body">
We ask for your baby’s baby’s Certificate of stillbirth  to work out the date you can start receiving Maternity Allowance.
  </p>


  <!--<div id="passport-issued-body" class="govuk-body">
   SMP1 forms must be dated from 23 February 2025 onwards. You must upload all 4 pages.

  </div>-->


  {{ govukFileUpload({
    id: "file-upload-1",
    name: "fileUpload1",
    label: {
      text: "Upload a file or photo. Accepted file types are jpg, pdf and png."
    }
  }) }}

  


  {% from "govuk/components/button/macro.njk" import govukButton %}



  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
  
    {{ govukButton({
      text: "I do not have a Certificate of stillbirth",
      classes: "govuk-button--secondary",
      href: "certificate-stillbirth-required"
    }) }}
  </div>
</form>
</div></div>
{% endblock %}
