
{% extends "layouts/main.html" %}

{% set pageName="Home" %} 

 
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <form class="form" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

<div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
            What is your relationship to the person who died?
            </h1>
          </legend>


{{ govukRadios({
  name: "whereDoYouLive",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "stillbirth",
      text: "I'm their partner"
    },
    {
      value: "neonatal",
      text: "I'm their child"
    },
    {
      value: "miscarriage",
      text: "I'm their parent"
    },
    {
      value: "miscarriage",
      text: "I'm another relative or friend"
    }
  ]
}) }}
<br><br>

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}

</form>

  </div>
</div>

{% endblock %}
