
{% extends "layouts/main.html" %}

{% set pageName="Home" %} 

 
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
<form class="form" action="/i14-stop-work-reason" method="post" novalidate>

  {% from "govuk/components/input/macro.njk" import govukInput %}
  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    name: "whereDoYouLive",
    name: "i14stopWorkReason",
    value: data['i14stopWorkReasonAnswer'],
    fieldset: {
      legend: {
        text: "Have you stopped work to have your baby or for another reason?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [

      {
        value: "mat",
        text: "Maternity leave"
      },
      {
        value: "sick",
        text: "Sick leave"
      },
      {
        value: "ended",
        text: "Ended work (for example, quit or made redundant)"
      },
      {
        divider: "or"
      },
      {
        value: "none",
        text: "I have not stopped work yet"
      }
    ]
  }) }}

  


{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}
</form>
</div></div>
{% endblock %}
