
{% extends "layouts/main.html" %}

{% set pageName="Home" %} 

 
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
<form class="form" method="post" novalidate>

  {% from "govuk/components/input/macro.njk" import govukInput %}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
 We're going to start by checking if you can get a Funeral Expenses Payment
  </h1>

<p class="govuk-body">We'll ask:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>what your relationship is to the person who died</li>
  <li>who is responsible for paying for the funeral</li>
  <li>where you live</li>
  <li>about any benefits you get</li>
  <li>about the funeral</li>
</ul>

  

<p class="govuk-body">Some of these questions may have already been answered but we'll just double check.</p>


  <form class="form" method="post" novalidate>

   
  
<div class="govuk-button-group">
  {{ govukButton({
    text: "Continue"
  }) }}

</div>
  </form>

</div></div>
{% endblock %}
