{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

    <!--<h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>-->

    <!--{% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}-->


<h1 class="govuk-heading-l">Sorry, you are not eligible for Maternity Allowance</h1>
<p class="govuk-body">You cannot get Maternity Allowance if you have had a miscarriage. 

  <br><br>
A miscarriage can be emotionally and physically draining. If you are struggling, advice and support are available for you.


</p>

<h2 class="govuk-heading-m">Support resources</h2>

<p class="govuk-body">A miscarriage can be emotionally and physically draining. If you are struggling, these organisations can help you understand what happened and give advice on recovery. </p>

<p class="govuk-body">They can give emotional support, access to online and in-person networks and can also give legal and practical advice.  </p>


<ul class="govuk-list govuk-list--bullet">
  <li><a href="https://www.nhs.uk/conditions/miscarriage/" target="_blank">Miscarriage NHS information (opens in new tab)</a></li>
  <li><a href="https://www.tommys.org/baby-loss-support/miscarriage-information-and-support/miscarriage-support" target="_blank">Support after miscarriage from Tommy’s (opens in new tab)</a></li>
  <li><a href="https://www.sands.org.uk/support-you" target="_parent">Support for bereaved parents from Sands (opens in new tab)</a></li>
    <li><a href="https://www.sands.org.uk/support-you" target="_parent">Support services from The Miscarriage Association (opens in new tab)</a></li>
</ul>

<p class="govuk-body">This is not an exhaustive list.</p>

<h2 class="govuk-heading-m">Baby loss certificate</h2>

<p class="govuk-body">You can get a free <a href="https://www.gov.uk/request-baby-loss-certificate" target="_blank">certificate in memory of your baby (opens in new tab)</a> if they died before 24 weeks.</p>
<p class="govuk-body">You do not have to request a certificate, and it’s not a legal document, but a way to remember your baby.</p>

<h2 class="govuk-heading-m">If your baby was delivered after 24 weeks of pregnancy</h2>

<p class="govuk-body">If your baby died, but was delivered after 24 weeks of pregnancy, or died after being born, then you can <a href="https://www.gov.uk/request-baby-loss-certificate" target="_blank">apply for Maternity Allowance</a>.</p>

<form method="POST">

  {% from "govuk/components/button/macro.njk" import govukButton %}
  

  <button type="submit" class="govuk-button" data-module="govuk-button">
  Save or print this page
</button>
  </form>

<!--<form method="POST">
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}

</form>-->
</div>

</div>
{% endblock %}
