
{% extends "layout.html" %}
 
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form class="form" action="/i16-selfemploy-stop-work" method="post">


<h1 class="govuk-heading-l">Stopping work to have your baby
</h1>
<p class="govuk-body">
If you are self-employed you must have stopped regular work to get Maternity Allowance.  
</p>
<p class="govuk-body">
You can only work for up to 10 ‘keeping in touch’ (KIT) days while getting Maternity Allowance without losing any payments. 
</p>

<p class="govuk-body">
You can do some admin and maintenance tasks which will not count towards your 10 KIT days. For example, you can maintain websites and equipment or accept work that starts after your Maternity Allowance ends. 
</p>

<p class="govuk-body">
You must tell us about any KIT days you work, we'll tell you how to contact us after you submit your application. 
</p>

<p class="govuk-body">
Read more about <a href="kit-days">KIT days while you are getting Maternity Allowance (opens in new tab)</a>.
</p>

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
Have you stopped work to have your baby?
              </legend>

{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "selfemploystillAnswer",
  value: data['selfemploystillAnswer'],
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

 


{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}
</form>
</div></div>
{% endblock %}
