
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
<form class="form" method="post" novalidate>

  {% from "govuk/components/input/macro.njk" import govukInput %}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
    When was your first whole day of absence due to sickness?
  </h1>

  {{ govukDateInput({
    id: "sick-leave-start",
    namePrefix: "sick-leave-start",
    fieldset: {
      legend: {
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: "For example, 27 3 2025"
    }
  }) }}

  


{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}
</form>
</div></div>
{% endblock %}
