
{% extends "layouts/main.html" %}

{% set pageName="Home" %} 

 
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
             What type of bereavement have you had?
            </h1>
          </legend>
          <!--<div id="signIn-hint" class="govuk-hint">
            You’ll need an account to prove your identity and complete your Self Assessment
          </div>-->
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="government-gateway" aria-describedby="signIn-item-hint">
              <label class="govuk-label govuk-radios__label" for="signIn">
                Miscarriage
              </label>
              <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                If your baby died before 24 completed weeks of pregnancy
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="signIn-2" name="signIn" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
              <label class="govuk-label govuk-radios__label" for="signIn-2">
                Stillbirth
              </label>
              <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint">
                If your baby died after 24 completed weeks of pregnancy and you have a stillbirth certificate
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="signIn-2" name="signIn" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
              <label class="govuk-label govuk-radios__label" for="signIn-2">
                Neonatal death
              </label>
              <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint">
                If your baby was born alive at any stage of pregnancy, then died and you have a death certificate
              </div>
            </div>
            <div class="govuk-radios__divider">or</div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-6" name="whereDoYouLive" type="radio" value="abroad">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-6">
          None
        </label>
      </div>
          </div>
        </fieldset>
      </div>
  
<form class="form" method="post" novalidate>




    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Continue"
    }) }}

    </form>

  </div>
</div>

{% endblock %}
