
{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      
      
<section id="decision" class="govuk-!-margin-bottom-6">
  <h1 class="govuk-heading-l">Confirm your baby details</h1>
  
    <table class="govuk-table">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        Baby born
      </th>
      <td class="govuk-table__cell">
       Yes
      </td>
      <td class="govuk-table__cell">  <a class="govuk-link" href="baby-born">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        Baby due date
      </th>
      <td class="govuk-table__cell">
       9 March 2025
      </td>
      <td class="govuk-table__cell">  <a class="govuk-link" href="baby-due-born">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>
    
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        Baby birth date
      </th>
      <td class="govuk-table__cell">
       10 March 2025
      </td>
      <td class="govuk-table__cell">  <a class="govuk-link" href="baby-DOB">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        Proof of birth
      </th>
      <td class="govuk-table__cell">
        MATB1
      </td>
      <td class="govuk-table__cell">  <a class="govuk-link" href="baby-birth-proof">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>

    <!--<tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
      Birth Certificate system number
      </th>
      <td class="govuk-table__cell">
        123456789
      </td>
      <td class="govuk-table__cell">  <a class="govuk-link" href="baby-birth-proof">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>-->
 
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        Proof of pregnancy
      </th>
      <td class="govuk-table__cell">
        MATB1
      </td>
      <td class="govuk-table__cell">  <a class="govuk-link" href="baby-birth-proof">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>


    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        Evidence uploaded
      </th>
      <td class="govuk-table__cell">
        MATB1.jpg
      </td>
      <td class="govuk-table__cell">  <a class="govuk-link" href="baby-birth-proof">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>
    <!--<tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        Birth certificate system number
      </th>
      <td class="govuk-table__cell">
        Not provided
      </td>
      <td class="govuk-table__cell">  <a class="govuk-link" href="baby-birth-cert-number">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        Birth certificate
      </th>
      <td class="govuk-table__cell">
        BirthCertificate.jpg
      </td>
      <td class="govuk-table__cell">  <a class="govuk-link" href="baby-birth-cert-number">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
       Proof of pregnancy
      </th>
      <td class="govuk-table__cell">
        None
      </td>
      <td class="govuk-table__cell">  <a class="govuk-link" href="proof-2">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>-->

   

</tbody>
</table>


  
<form class="form" method="post" novalidate>

  {% from "govuk/components/button/macro.njk" import govukButton %}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
  

  </div>

  </form>

  </section>


  </div>
</div>

{% endblock %}
