
{% extends "layouts/main.html" %}

{% set pageName="Home" %} 

 
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <form class="form" action="/i10-bereavement" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "whereDoYouLive",
   name: "bereavement",
    value: data['bereavementAnswer'],
  fieldset: {
    legend: {
      text: "What type of bereavement have you had?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "miscarriage",
      text: "Miscarriage",
  hint: {
    text: "If your baby died before 24 completed weeks of pregnancy"
  }
    },
    {
      value: "stillbirth",
      text: "Stillbirth",
  hint: {
    text: "If your baby died after 24 completed weeks of pregnancy and you have a stillbirth certificate"
  }
    },
    {
      value: "neonatal",
      text: "Neonatal death",
  hint: {
    text: "If your baby was born alive at any stage of pregnancy, then died and you have a death certificate"
  }
    },
    {
      divider: "or"
    },
    {
      value: "none",
      text: "None"
    }
  ]
}) }}


{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}

</form>

  </div>
</div>

{% endblock %}
