
{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      
      
<section id="decision" class="govuk-!-margin-bottom-6">
  <h1 class="govuk-heading-l">Confirm earning details</h1>
  
    <table class="govuk-table">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
       NI payments abroad
      </th>
      <td class="govuk-table__cell">
        No
      </td>
      <td class="govuk-table__cell">  <a class="govuk-link" href="employed-abroad">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>









</tbody>
</table>




<h1 class="govuk-heading-m">Review earnings</h1>

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#asda">
        Asda
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#argos">
        Sainsbury's
      </a>
    </li>


  </ul>
  <div class="govuk-tabs__panel" id="asda">
    <h2 class="govuk-heading-m">Asda earnings</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
         
          <th scope="col" class="govuk-table__header">Payslip amount (gross)</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
       <!-- <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 October 2023</td>
          <td class="govuk-table__cell">£500.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 November 2023</td>
          <td class="govuk-table__cell">£350.00</td>
          
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">31 December 2023</td>
          <td class="govuk-table__cell">£120.00</td>
          
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 January 2024</td>
          <td class="govuk-table__cell">£400.00</td>
          
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">28 February 2024</td>
          <td class="govuk-table__cell">£600.00</td>
        </tr>-->
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 March 2024</td>
          <td class="govuk-table__cell">£750.00</td>
          
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 April 2024</td>
          <td class="govuk-table__cell">£1200.00</td>
          
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 May 2024</td>
          <td class="govuk-table__cell">£250.00</td>
          
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">28 June 2024</td>
          <td class="govuk-table__cell">£200.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 July 2024</td>
          <td class="govuk-table__cell">£325.00</td>
          
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 August 2024</td>
          <td class="govuk-table__cell">£500.00</td>
          
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 September 2024</td>
          <td class="govuk-table__cell">£500.00</td>
          
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 October 2024</td>
          <td class="govuk-table__cell">£650.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 November 2024</td>
          <td class="govuk-table__cell">£700.00</td>
          
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 December 2024</td>
          <td class="govuk-table__cell">£825.00</td>
          
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">25 January 2025</td>
          <td class="govuk-table__cell">£975.00</td>
          
        </tr>

        <tr class="govuk-table__row"></tr>
          <td class="govuk-table__cell">28 February 2025</td>
          <td class="govuk-table__cell">£120.00</td>
          
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">31 March 2025</td>
          <td class="govuk-table__cell">£400.00</td>
          
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 April 2025</td>
          <td class="govuk-table__cell">£600.00</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="argos">
    <h2 class="govuk-heading-m">Sainsbury's earnings</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
         
          <th scope="col" class="govuk-table__header">Payslip amount (gross)</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <!--<tr class="govuk-table__row">
            <td class="govuk-table__cell">30 June 2023</td>
            <td class="govuk-table__cell">£500.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 July 2023</td>
            <td class="govuk-table__cell">£500.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">31 August 2023</td>
            <td class="govuk-table__cell">£500.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 September 2023</td>
            <td class="govuk-table__cell">£500.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 October 2023</td>
            <td class="govuk-table__cell">£500.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 November 2023</td>
            <td class="govuk-table__cell">£500.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 December 2023</td>
            <td class="govuk-table__cell">£500.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 January 2023</td>
            <td class="govuk-table__cell">£500.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">28 Februry 2023</td>
            <td class="govuk-table__cell">£500.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 March 2023</td>
            <td class="govuk-table__cell">£500.00</td>
            
          </tr>-->
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 July 2024</td>
            <td class="govuk-table__cell">£500.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 August 2024</td>
            <td class="govuk-table__cell">£500.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 September 2024</td>
            <td class="govuk-table__cell">£500.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 October 2024</td>
            <td class="govuk-table__cell">£500.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 November 2024</td>
            <td class="govuk-table__cell">£500.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 December 2024</td>
            <td class="govuk-table__cell">£500.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">25 January 2025</td>
            <td class="govuk-table__cell">£120.00</td>
            
          </tr>
      </tbody>
    </table>
  </div>
  
  
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="sainsburys">
    <h2 class="govuk-heading-l">Past month</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
         
          <th scope="col" class="govuk-table__header">Payslip amount (gross)</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        tr class="govuk-table__row">
          <td class="govuk-table__cell">30 June 2023</td>
          <td class="govuk-table__cell">£500.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 July 2023</td>
          <td class="govuk-table__cell">£500.00</td>
          
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">31 August 2023</td>
          <td class="govuk-table__cell">£500.00</td>
          
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 September 2023</td>
          <td class="govuk-table__cell">£500.00</td>
          
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 October 2023</td>
          <td class="govuk-table__cell">£500.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 November 2023</td>
          <td class="govuk-table__cell">£500.00</td>
          
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 December 2023</td>
          <td class="govuk-table__cell">£500.00</td>
          
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 January 2023</td>
          <td class="govuk-table__cell">£500.00</td>
          
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">28 Februry 2023</td>
          <td class="govuk-table__cell">£500.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 March 2023</td>
          <td class="govuk-table__cell">£500.00</td>
          
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 April 2023</td>
          <td class="govuk-table__cell">£500.00</td>
          
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 May 2023</td>
          <td class="govuk-table__cell">£500.00</td>
          
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 June 2023</td>
          <td class="govuk-table__cell">£500.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 July 2023</td>
          <td class="govuk-table__cell">£500.00</td>
          
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 August 2023</td>
          <td class="govuk-table__cell">£500.00</td>
          
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 September 2023</td>
          <td class="govuk-table__cell">£500.00</td>
          
        </tr>
      </tbody>
    </table>
  </div>

  <!--<div style="margin-top: 10px;"><a href="earnings-history-changed">Change earnings</a></div>-->
</div>
  
<form class="form" method="post" novalidate>

  {% from "govuk/components/button/macro.njk" import govukButton %}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
  

  </div>

  </form>

  </section>


  </div>
</div>



{% endblock %}
