
{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      
      
<section id="decision" class="govuk-!-margin-bottom-6">
  <h1 class="govuk-heading-l">Earnings history</h1>
  <div id="passport-issued-hint" class="govuk-body">
    These payslips show the money you have earned during your Test Period (2 July 2023 and 5 October 2024). This information comes from HM Revenue & Customs. 
    <br><br>
    You can add other payslips to show higher earnings and possibly increase the Maternity Allowance you can get.
  </div>
  
  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#past-day">
          Your highest earning weeks
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#past-week">
         Job 1 earnings
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#past-week">
         Job 2 earnings
        </a>
      </li>
    </ul>
    <div class="govuk-tabs__panel" id="past-day">
      <h2 class="govuk-heading-l"> Your highest earning weeks</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header">Employer</th>
            <th scope="col" class="govuk-table__header">Payslip amount (gross)</th>
            <th scope="col" class="govuk-table__header">Weekly earnings</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 June 2023</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£4320.00</td>
            <td class="govuk-table__cell">£1080.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">21 June 2023</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£3400.00</td>
            <td class="govuk-table__cell">£850.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 September 2023</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£3200.00</td>
            <td class="govuk-table__cell">£800.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 April 2023</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£3210.00</td>
            <td class="govuk-table__cell">£780.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 January 2023</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£2680.00</td>
            <td class="govuk-table__cell">£670.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 March 2023</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£2500.00</td>
            <td class="govuk-table__cell">£625.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 February 2023</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£2200.00</td>
            <td class="govuk-table__cell">£550.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 Januray 2024</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£2100.00</td>
            <td class="govuk-table__cell">£525.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 March 2024</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£2000.00</td>
            <td class="govuk-table__cell">£500.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 December 2023</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£1640.00</td>
            <td class="govuk-table__cell">£410.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 October 2023</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£1480.00</td>
            <td class="govuk-table__cell">£370.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 July 2023</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£1400.00</td>
            <td class="govuk-table__cell">£350.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 November 2023</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£1080.00</td>
            <td class="govuk-table__cell">£270.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 November 2023</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£1000.00</td>
            <td class="govuk-table__cell">£250.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 November 2023</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£480.00</td>
            <td class="govuk-table__cell">£120.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 December 2023</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£320.00</td>
            <td class="govuk-table__cell">£80.00</td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
      <h2 class="govuk-heading-l">Job 1 earnings </h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 June 2023</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£500.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 July 2023</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£280.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 August 2023</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£250.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 September 2023</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£120.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 October 2023</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£650.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 November 2023</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£210.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 December 2023</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£780.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 January 2024</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£1080.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">28 Frbruary 2024</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£200.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 Martch 2024</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£310.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 April 2024</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£460.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 May 2024</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£625.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 June 2024</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£800.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 July 2024</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£850.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 August 2024</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£670.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 September 2024</td>
            <td class="govuk-table__cell">Sainsbury's</td>
            <td class="govuk-table__cell">£80.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<a href="../start-a-claim/payslip-select-employer.html">
<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Add payslip
</button>
</a>

  
<form class="form" method="post" novalidate>




    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Continue"
    }) }}

    </form>

  </div>
</div>

{% endblock %}
