
{% extends "layouts/main.html" %}

{% set pageName="Home" %} 

 
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      
      
<section id="decision" class="govuk-!-margin-bottom-6">
  <h1 class="govuk-heading-l">Employment history</h1>
  <div id="passport-issued-hint" class="govuk-hint">
    This is the employment information we have from HM Revenue & Customs for your Test Period. You can change it if it is incorrect.
  </div>
  
    <table class="govuk-table">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        Employer
      </th>
      <td class="govuk-table__cell">
         Argos
        </td>
      <td class="govuk-table__cell">  </td>
    </tr>

      <th scope="row" class="govuk-table__header">
        Employment start date
      </th>
      <td class="govuk-table__cell">
        12 July 2022
      </td>
      <td class="govuk-table__cell">   <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
       Employment end date
      </th>
      <td class="govuk-table__cell">
       Ongoing
      </td>
      <td class="govuk-table__cell">  <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </td>
    </tr> 



</tbody>
</table>

<table class="govuk-table">
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">
      Employer
    </th>
    <td class="govuk-table__cell">
       Asda
      </td>
    <td class="govuk-table__cell">  </td>
  </tr>

    <th scope="row" class="govuk-table__header">
      Employment start date
    </th>
    <td class="govuk-table__cell">
      12 Feb 2022
    </td>
    <td class="govuk-table__cell">   <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> name</span>
    </a></td>
  

  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">
     Employment end date
    </th>
    <td class="govuk-table__cell">
     20 June 2022
    </td>
    <td class="govuk-table__cell">  <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> name</span>
    </a>
  </td>
  </tr> 



</tbody>
</table>

<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Add employer
</button>

  
<form class="form" action="/confirm-employment-answer" method="post" novalidate>

  {% from "govuk/components/radios/macro.njk" import govukRadios %}
  {{ govukRadios({
    classes: "govuk-radios--inline",
    name: "confirmEmployment",
    value: data['confirmEmploymentAnswer'],
    fieldset: {
      legend: {
        text: "Did you work for any other employer between [TestPeriodStartDate] and [TestPeriodEndDate]?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No"
      }
    ]
  }) }}



    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Continue"
    }) }}

    </form>

  </div>
</div>

{% endblock %}
