
{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      
      
<section id="decision" class="govuk-!-margin-bottom-6">
  <h1 class="govuk-heading-l">Confirm employment details</h1>
  
    <table class="govuk-table">

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        Changed information
      </th>
      <td class="govuk-table__cell">
        Asda start date
      </td>
      <td class="govuk-table__cell">  <a class="govuk-link" href="employment-change-type">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        Employment start date
      </th>
      <td class="govuk-table__cell">
        10 December 2023
      </td>
      <td class="govuk-table__cell">  <a class="govuk-link" href="employment-start-date">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>






</tbody>
</table>


  
<form class="form" method="post" novalidate>

  {% from "govuk/components/button/macro.njk" import govukButton %}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
  

  </div>

  </form>

  </section>


  </div>
</div>

{% endblock %}
