
{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form class="form" method="post">


  {% from "govuk/components/input/macro.njk" import govukInput %}

  {{ govukRadios({
    classes: "govuk-radios--inline",
    name: "employmentOngoingAnswer",
    value: data['employmentStop'],
    fieldset: {
      legend: {
        text: "Which employer needs a new payslip?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      {
        value: "yes",
        text: "Argos"
      },
      {
        value: "no",
        text: "Smith's Bakery"
      }
    ]
  }) }}

  


{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}
</form>
</div></div>
{% endblock %}
