
{% extends "layouts/main.html" %}

{% set pageName="Home" %} 

 
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
<form class="form" method="post" novalidate>

  {% from "govuk/components/radios/macro.njk" import govukRadios %}
  {% from "govuk/components/input/macro.njk" import govukInput %}
  
  {% set emailHtml %}
  {{ govukInput({
    id: "contact-by-email",
    name: "contactByEmail",
    type: "email",
    autocomplete: "email",
    spellcheck: false,
    classes: "govuk-!-width-one-third",
    label: {
      text: "Email address"
    }
  }) }}
  {% endset -%}
  
  {% set phoneHtml %}
  {{ govukInput({
    id: "contact-by-phone",
    name: "contactByPhone",
    type: "tel",
    autocomplete: "tel",
    classes: "govuk-!-width-one-third",
    label: {
      text: "Phone number"
    }
  }) }}
  {% endset -%}
  
  {% set textHtml %}
  {{ govukInput({
    id: "contact-by-text",
    name: "contactByText",
    type: "tel",
    autocomplete: "tel",
    classes: "govuk-!-width-one-third",
    label: {
      text: "Mobile phone number"
    }
  }) }}
  {% endset -%}
  
  {{ govukRadios({
    name: "contact",
    fieldset: {
      legend: {
        text: "What is your mobile telephone number?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },

  hint: {
    text: "This will be used as we may need to contact you about your claim."
  },
    items: [
      {
        value: "email",
        text: "07123456789"
      },
      {
        value: "phone",
        text: "Other",
        conditional: {
          html: phoneHtml
        }
      }
    ]
  }) }}

  


{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}
</form>
</div></div>
{% endblock %}
