
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form class="form" method="post">

  {% from "govuk/components/input/macro.njk" import govukInput %}

  {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

  {{ govukCheckboxes({
    name: "countries",
    fieldset: {
      legend: {
        text: "What is your employment status?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: ""
    },
    items: [
      {
        value: "employed",
        text: "Employed (this includes agency, zero-hour contracts and director of a limited company)"
      },
      {
        value: "self",
        text: "Self employed"
      },
      {
        value: "partner",
        text: "Unpaid work for partner's business
        "
      },
      {
        divider: "or"
      },
      {
        value: "none",
        text: "None",
        behaviour: "exclusive"
      }
    ]
  }) }}

  


{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}
</form>
</div></div>
{% endblock %}
