
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      
      
<section id="decision" class="govuk-!-margin-bottom-6">
  <h1 class="govuk-heading-l">Confirm your details</h1>
  
    <table class="govuk-table">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        Current address
      </th>
      <td class="govuk-table__cell">
        34 Fairburn Way,<br>Chelsea,<br>London,<br>SW7 3CP
      </td>
    </tr>

      <th scope="row" class="govuk-table__header">
        Start date
      </th>
      <td class="govuk-table__cell">
        21 January 2024
      </td>
      <td class="govuk-table__cell">  <!-- <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>--></td>



</tbody>
</table>


  
<form class="form" method="post" novalidate>

  {% from "govuk/components/button/macro.njk" import govukButton %}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Confirm"
    }) }}
  
    {{ govukButton({
      text: "Add new address",
      classes: "govuk-button--secondary"
    }) }}
  </div>

  </form>

  </section>


  </div>
</div>

{% endblock %}
