
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      
      
<section id="decision" class="govuk-!-margin-bottom-6">
  <h1 class="govuk-heading-l">Confirm employment details</h1>
  
    <table class="govuk-table">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        Employment type
      </th>
      <td class="govuk-table__cell">
        Employed
      </td>
      <td class="govuk-table__cell">  <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        SMP1 form
      </th>
      <td class="govuk-table__cell">
        smp1.jpg
      </td>
      <td class="govuk-table__cell">  <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        Stopped work
      </th>
      <td class="govuk-table__cell">
        Yes
      </td>
      <td class="govuk-table__cell">  <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        Stopped work reason
      </th>
      <td class="govuk-table__cell">
        Maternity leave
      </td>
      <td class="govuk-table__cell">  <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>
</tbody>
</table>

<table class="govuk-table">
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">
      Employer
    </th>
    <th class="govuk-table__header">
      Employment start date
      </th>
    <th class="govuk-table__header">
      Employment end date
      </th>
      <td class="govuk-table__cell">
     
        </td>
  </tr>

  <tr class="govuk-table__row">
    <td scope="row" class="govuk-table__cell">
     Argos
    </td>
    <td class="govuk-table__cell">
     1 May 2024
    </td>
    <td class="govuk-table__cell">   
      Ongoing<span class="govuk-visually-hidden"> name</span>
    </td>
    <td class="govuk-table__cell">  <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> name</span>
    </a></td>
    <tr class="govuk-table__row">
      </tr>
  </tr>



  <tr class="govuk-table__row"></tr>
    <td scope="row" class="govuk-table__cell">
     Sainsbury's
    </td>
    <td class="govuk-table__cell">
     12 July 2024
    </td>
    <td class="govuk-table__cell">   
      18 Janurary 2025<span class="govuk-visually-hidden"> name</span>
    </td>
    <td class="govuk-table__cell">  <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> name</span>
    </a></td>
    <tr class="govuk-table__row">
      </tr>
  </tr>

</tbody>
</table>
  
<form class="form" method="post" novalidate>

  {% from "govuk/components/button/macro.njk" import govukButton %}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
  

  </div>

  </form>

  </section>


  </div>
</div>

{% endblock %}
