
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      
      
<section id="decision" class="govuk-!-margin-bottom-6">
  <h1 class="govuk-heading-l">Earnings history</h1>

  <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Important
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">
        Based on HMRC records, your earnings may result in you getting some Maternity Allowance. Your application will need to be reviewed before Maternity Allowance can be awarded.
       <!-- <a class="govuk-notification-banner__link" href="#">View application</a>.-->
      </p>
    </div>
  </div>

  <div id="passport-issued-hint" class="govuk-body">
    These payslips show the money you have earned during your Test Period (23 October 2023 and 1 February 2025). This information comes from HM Revenue & Customs. 
    <br><br>
    You can add other payslips to show higher earnings and possibly increase the Maternity Allowance you get
  </div>

  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#asda">
          Asda
        </a>
      </li>
  
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#sainsburys">
          Sainsbury's
        </a>
      </li>

    </ul>
    <div class="govuk-tabs__panel" id="asda">
      <h2 class="govuk-heading-l">Asda earnings</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date</th>
           
            <th scope="col" class="govuk-table__header">Payslip amount (gross)</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 October 2023</td>
            <td class="govuk-table__cell">£500.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 November 2023</td>
            <td class="govuk-table__cell">£350.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">31 December 2023</td>
            <td class="govuk-table__cell">£120.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 January 2024</td>
            <td class="govuk-table__cell">£400.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">28 February 2024</td>
            <td class="govuk-table__cell">£600.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 March 2024</td>
            <td class="govuk-table__cell">£750.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 April 2024</td>
            <td class="govuk-table__cell">£1200.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 May 2024</td>
            <td class="govuk-table__cell">£250.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">28 June 2024</td>
            <td class="govuk-table__cell">£200.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 July 2024</td>
            <td class="govuk-table__cell">£325.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 August 2024</td>
            <td class="govuk-table__cell">£175.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 September 2024</td>
            <td class="govuk-table__cell">£500.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 October 2024</td>
            <td class="govuk-table__cell">£650.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 November 2024</td>
            <td class="govuk-table__cell">£700.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 December 2024</td>
            <td class="govuk-table__cell">£825.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">25 January 2025</td>
            <td class="govuk-table__cell">£975.00</td>
            
          </tr>
        </tbody>
      </table>
    </div>

    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="sainsburys">
      <h2 class="govuk-heading-l">Sainsbury's earnings</h2>
      <table class="govuk-table">
       <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date</th>
           
            <th scope="col" class="govuk-table__header">Payslip amount (gross)</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
         <!--<tr class="govuk-table__row">
            <td class="govuk-table__cell">30 June 2023</td>
            <td class="govuk-table__cell">£500.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 July 2023</td>
            <td class="govuk-table__cell">£500.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">31 August 2023</td>
            <td class="govuk-table__cell">£500.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 September 2023</td>
            <td class="govuk-table__cell">£500.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 October 2023</td>
            <td class="govuk-table__cell">£500.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 November 2023</td>
            <td class="govuk-table__cell">£500.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 December 2023</td>
            <td class="govuk-table__cell">£500.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 January 2023</td>
            <td class="govuk-table__cell">£500.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">28 Februry 2023</td>
            <td class="govuk-table__cell">£500.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 March 2023</td>
            <td class="govuk-table__cell">£500.00</td>
            
          </tr>-->
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 July 2024</td>
            <td class="govuk-table__cell">£500.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 August 2024</td>
            <td class="govuk-table__cell">£500.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 September 2024</td>
            <td class="govuk-table__cell">£500.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 October 2024</td>
            <td class="govuk-table__cell">£500.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 November 2024</td>
            <td class="govuk-table__cell">£500.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 December 2024</td>
            <td class="govuk-table__cell">£500.00</td>
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">25 January 2025</td>
            <td class="govuk-table__cell">£120.00</td>
            
          </tr>
        </tbody>
      </table>
    </div>



    </div>


    </div>

  </div>
  
    
<a href="../start-a-claim/payslip-select-employer.html">
<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Add payslip
</button>
</a>

  
<form class="form" method="post" novalidate>




    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Continue"
    }) }}

    </form>

  </div>
</div>

{% endblock %}
