
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!--h1 class="govuk-heading-l">Maternity Allowance start date</h1-->

      <form class="form" method="post">

        {{ govukRadios({
          name: "ReasonableAdjustment",
          value: data['ReasonableAdjustment'],
          fieldset: {
            legend: {
              text: "Which language would you like us to use when contacting you?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          }
          ,
  hint: {
    text: "This will include phone calls and letters"
  },
   
          items: [
            {
              value: "Yes",
              text: "English"
            },
            {
              value: "No",
              text: "Welsh"
            }
          ]
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}
        
        </form>

    </div>
  </div>

{% endblock %}