<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag ">
            Private beta
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new service, if there is an issue,
            <a class="govuk-link" href="feedback/feedback_form.html" target="_blank">Report a problem (opens in a new tab)</a>.
        </span>
    </p>
</div>

<style>
    .govuk-main-wrapper {
        padding-top: 0px !important;
    }

    .banner_fix_space {
        padding-top: 30px !important;
    }

    .govuk-phase-banner {
        margin-bottom: 30px !important;
    }
</style>