{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

    <!--<h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>-->

    <!--{% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}-->


<h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
<p class="govuk-body">The Maternity Allowance online application is currently unavailable for you right now because you have lived or worked outside the UK in the last 12 months.<br><br>In the meantime you can still apply through a <a href="https://www.gov.uk/browse/benefits">paper form.</a></p>



<!--<form method="POST">
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}

</form>-->
</div>

</div>
{% endblock %}
