
{% extends "layouts/main.html" %}

{% set pageName="Home" %} 

 
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
<form class="form" method="post" novalidate>

  {% from "govuk/components/input/macro.njk" import govukInput %}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
You need to upload your MAT B1 to get Maternity Allowance

  </h1>

 <p class="govuk-body">	
You will need to send us your MAT B1 form before you can get Maternity Allowance.</p>

 <p class="govuk-body">	
You can finish your application and post it to us at a later on.</p>

  <!--<img src="/public/images/MATB1_Img.png" style="max-width: 70%;" alt="An image of a Maternity Certificate (MAT B1) that shows Part A and Part B. Part A is highlighted as the part that shows proof of pregnancy.">-->
  
 <!-- <div id="passport-issued-hint" class="govuk-hint">
    Proof of pregnancy will usually be a Maternity Certificate (MAT B1). You can also upload proof from a foreign medical official.
  </div>-->




  




  <form class="form" method="post" novalidate>

   
  
  
  
      {% from "govuk/components/button/macro.njk" import govukButton %}
  
      {{ govukButton({
        text: "Continue"
      }) }}
  </form>

</div></div>
{% endblock %}
