{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}
{% set govukRebrand = true %}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %} 
{% from "govuk/components/header/macro.njk" import govukHeader %} 

 {% block header %}

{{ govukHeader({
  classes: "govuk-header--full-width-border",
  homepageUrl: "https://www.gov.uk"
}) }}

  {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukServiceNavigation({
  serviceName: "Apply for Maternity Allowance",
  serviceUrl: "/"
}) }} 

{% endblock %}
