
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}


<form class="form" method="post" novalidate>

  {% from "govuk/components/input/macro.njk" import govukInput %}

  {{ govukInput({
    label: {
      text: "What is your name?",
      classes: "govuk-label--l",
      isPageHeading: true
    },
    classes: "govuk-input--width-20",
    id: "width-20",
    name: "width20"
  }) }}


{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Save and continue"
}) }}
</form>
{% endblock %}
